<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rummaging Goblin</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/style.css">




</head>

<body>


<div class="container-fluid">

  	<div class="row">

    	<div class="col-sm-4 left">
    		<div class="blue">
				<div class="form">
					<form>
						search:
						<input type="text" name="name" placeholder="Card Name">
						<input type="submit">
					
						<br>
						<br>
				<div id="colors">
						<input type="checkbox" name="colors" value="White">
						White
						<input type="checkbox" name="colors" value="Blue">
						Blue
						<input type="checkbox" name="colors" value="Black">
						Black
						<input type="checkbox" name="colors" value="Red">
						Red
						<input type="checkbox" name="colors" value="Green">
						Green
						<input type="checkbox" name="colors" value="Colorless">
						Colorless
				</div>
<br><br>
						<select name="types">
							<option value="">Card Type</option>
  							<option value="creature">Creature</option>
  							<option value="instant">Instant</option>
  							<option value="sorcery">Sorcery</option>
  							<option value="artifact">Artifact</option>
  							<option value="enchantment">Enchantment</option>
  							<option value="planeswalker">Planeswalker</option>
  							<option value="land">Land</option>
  							<option value="tribal">Tribal</option>
						</select>

						<select name="rarity">
							<option value="">Rarity</option>
  							<option value="common">Common</option>
  							<option value="uncommon">Uncommon</option>
  							<option value="rare">Rare</option>
  							<option value="mythic rare">Mythic Rare</option>
						</select>

						<select name="cmc">
							<option value="">CMC</option>
  							<option value="1">1</option>
  							<option value="2">2</option>
  							<option value="3">3</option>
  							<option value="4">4</option>
  							<option value="5">5</option>
  							<option value="6">6</option>
  							<option value="7">7</option>
  							<option value="8">8</option>
  							<option value="9">9</option>
  							<option value="10">10</option>
  							<option value="11">11</option>
  							<option value="12">12</option>
  							<option value="13">13</option>
  							<option value="14">14</option>
  							<option value="15">15</option>
  							<option value="16">16</option>

						</select>	
						
<br><br>
						Set:
						<input type="text" name="set" placeholder="Set Code">

					</form>	
					</form>	





						<br>
						
					</form>
				</div>
			</div>

			<div class="red">
				<h1>red</h1>
    		</div>
    	</div>

		<div class="col-sm-8 green">

		<div class="col-sm-12 white"></div>

		</div>
		
	</div>

</div>

	
</body>
</html>